<!-- sidebar.html -->
<div th:fragment="sidebar" class="sidebar" id="sidebar">
    <button id="toggleBtn" class="toggle-btn" aria-label="사이드바 토글">☰</button>
    <ul>
        <li>
            <i class="fas fa-home"></i>
            <span class="text">홈</span>
        </li>
        <li>
            <i class="fas fa-bell"></i>
            <span class="text">알림</span>
        </li>
        <li>
            <i class="fas fa-clipboard"></i>
            <span class="text">게시판</span>
        </li>
        <li>
            <i class="fas fa-exclamation-circle"></i>
            <span class="text">공지사항</span>
        </li>
    </ul>
</div>
