<!-- sidebar.html -->
<div th:fragment="sidebar" class="sidebar sidebar-main" id="sidebarMain">
    <button id="toggleBtn" class="toggle-btn" aria-label="사이드바 토글">☰</button>
    <ul>
        <!-- 홈 메뉴 -->
        <li class="menu-item">
            <a href="/" class="menu-link">
                <i class="fas fa-home" aria-hidden="true" tabindex="0" role="button" aria-label="홈"></i>
                <span class="text">홈</span>
            </a>
        </li>

        <!-- 알림 메뉴 -->
        <li class="menu-item">
            <a href="#" class="menu-link" aria-label="알림">
                <i class="fas fa-bell notification-icon" aria-hidden="true" tabindex="0" role="button" aria-label="알림"></i>
                <span class="text notification-text">알림</span>
            </a>
            <ul class="sub-menu">
                <li><a href="/index2.html">광주광역시 범죄현황</a></li>
                <li><a href="/region/gwang.html">광산구</a></li>
                <li><a href="/region/buk.html">북구</a></li>
                <li><a href="/region/seo.html">서구</a></li>
                <li><a href="/region/dong.html">동구</a></li>
                <li><a href="/region/nam.html">남구</a></li>
            </ul>
        </li>

        <!-- 게시판 메뉴 -->
        <li class="menu-item">
            <a href="#" class="menu-link" aria-label="게시판">
                <i class="fas fa-clipboard" aria-hidden="true" tabindex="0" role="button" aria-label="게시판"></i>
                <span class="text board-text">게시판</span>
            </a>
            <ul class="sub-menu">
                <li><a href="/board/list">게시판1</a></li>
                <li><a href="/board/list">게시판2</a></li>
            </ul>
        </li>

        <!-- 공지사항 메뉴 -->
        <li class="menu-item">
            <a href="#" class="menu-link" aria-label="공지사항">
                <i class="fas fa-exclamation-circle" aria-hidden="true" tabindex="0" role="button" aria-label="공지사항"></i>
                <span class="text notice-text">공지사항</span>
            </a>
            <ul class="sub-menu">
                <li><a th:href="@{/notice_board/boards}">공지사항1</a></li>
                <li><a th:href="@{/notice_board/boards}">공지사항2</a></li>
            </ul>
        </li>
    </ul>
</div>
